@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: minhafonte ;
    src: url('idroid.otf');
}

body {
    background-color: #bedfbe;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    text-align: justify; 
}

#cabecalho {
    text-align: center;
    
}
header {
    background-image: linear-gradient(to bottom, #76b376, #1e551e);
    padding: 10px;
    color: white;
}

header > h1 {
    font-family: 'Bebas Neue', cursive;
}

nav > a {
    text-decoration: none;
    color: white;
    margin: 2px;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
}
nav > a:hover {
    background-color: #378637;
    transition-duration: 1s;
}

article{
    padding: 5px;
}


main{
    background-color: white;
    padding: 10px;
    margin:auto;
    min-width: 320px;
    max-width: 800px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    line-height: 1.5em;

}

h3 {
    background-image: linear-gradient(to right, #d3f1d3, #f1f1f1)
}

span > a {
    text-decoration: none;
    font-weight: bold;
    color: #378637;
}

span > h4 {
    background-color: #1e551e;
    padding: 12px;
    color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
strong {
    color: #378637;
}


.recuo { text-indent:1em;
}

.bugdroid {
    text-align: center;
    max-width: 300px;
    margin: auto;
    display: block;
}
.backvideo {
    text-align: center;
    padding: 30px;
    background-color: #1e551e;
    margin: -10px;
}

.coluna {
    columns: 2;
}

.fonte {
    font-family: minhafonte;
    color: #1e551e;
}

.textofinal {
    background-color: #c1e2c1;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px
}
.recuo2 {
    text-indent:1em;
    padding-left: 10px;
    padding-right: 10px;
    
}
.espaco {
    padding-bottom: 10px;
}
footer {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
    background-color: #1e551e;
    color: white;
    padding: 10px;
    margin-top: 50px;
}

main img {
    width: 100%;
}

div > iframe {
    width: 100%;
}




